<div class="container-fluid mt-5">
  <section id = "introduccion">
    <div class="row bg-white mb-5">
      
      <div class="col-lg-6 col-12 text-center pt-5">
        
        <div class="row p-1">
          <div class="col-12 p-4">
            <h4 class="text-left">¿Qué es APPoinment?</h4>
            <p class="text-left">
              Es un Sistema de Gestión Clínica que ofrece una 
              solución integral para prestadores de salud, 
              conectándolos con potenciales pacientes y permitiéndoles 
              agendar una consulta de manera rápida y simple.
            </p>
          </div>
          <div class="col-12 p-4">
            <h4 class="text-left">¿Qué puedo hacer con APPoinment?</h4>
            <p class="text-left">
              Permite la creación y admisnistración de agendas, acceso 
              a registro clínico electrónico.
            </p>
          </div>
        </div>
      </div>  
      <div class="col-lg-6 col-12">
        <p class="text-center">
          <img src="/assets/2.png" class="img-fluid" alt="logo">
        </p>
      </div><!--col 6-->
    </div><!--row-->
  </section>

  <section id = "prueba">
    <div class="row bg-light pt-5">
      <div class="col-12 text-center ">     
          <h1>Prueba la plataforma sin costo</h1>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <div class="card text-center border-light bg-light mb-5 mr-5 ml-5">
          <div class="card-body">
            <i class="fas fa-phone-alt text-info"></i>
            <h5 class="card-title">
              <h5 class="">LLAMANOS</h5>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">+56948644721</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <div class="card text-center border-light bg-light mb-5 mr-5 ml-5">
          <div class="card-body">
            <i class="fas fa-envelope text-info"></i>
            <h5 class="card-title">NOSOTROS TE CONTACTAMOS</h5>
            <h6 class="card-subtitle mb-2 text-muted">Indicanos tu nombre, teléfono, correo <span> <a href="#contact"> AQUÍ</a></span></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <div class="card text-center border-light bg-light mb-5 mr-5 ml-5">
          <div class="card-body">
            <i class="fas fa-paper-plane text-info"></i>
            <h5 class="card-title">ESCRIBENOS A:</h5>
            <h6 class="card-subtitle mb-2 text-muted">appointment@mail.com</h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id ="funciones">
    <div class="row bg-white pt-5">
      <div class="col-12 text-center">
        <h1>Conoce algunas de las funciones</h1>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <div class="card text-center border-white mb-5 mr-5 ml-5">
          <div class="card-body">
            <div class="row">
              <div class="col-1 p-0">
                <i class="fas fa-calendar-check text-info"></i>
              </div>
              <div class="col-11 p-0">
                <h5 class="card-title text-left">RESERVA DE CONSULTAS MÉDICAS</h5>
              </div>
            </div>
            <p class="card-text text-left">Los pacientes reservan sus consultas online, buscando por especialidad, profesional o institución de salud</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <div class="card text-center border-white mb-5 mr-5 ml-5">
          <div class="card-body">
            <div class="row">
              <div class="col-1 p-0">
                <i class="fas fa-calendar-alt text-info"></i>
              </div>
              <div class="col-11 p-0">
                <h5 class="card-title text-left">AGENDA ADAPTABLE</h5>
              </div>
            </div>
            <p class="card-text text-left">Los profesionales de salud o los administradores de centros médicos crean las agendas de acuerdo a sus necesidades.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <div class="card text-center border-white mb-5 mr-5 ml-5">
          <div class="card-body">
            <div class="row">
              <div class="col-1 p-0">
                <i class="fas fa-user-md text-info"></i>
              </div>
              <div class="col-11 p-0">
                <h5 class="card-title text-left">REGISTRO CLÍNICO</h5>
              </div>
            </div>
            <p class="card-text text-left">Los prestadores de salud disponen de registro clínico electrónico, emisión de solicitud de exámenes, receta electrónica y documentos clínicos.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <div class="card text-center border-white mb-5 mr-5 ml-5">
          <div class="card-body">
            <div class="row">
              <div class="col-1 p-0">
                <i class="fas fa-chart-bar text-info"></i>
              </div>
              <div class="col-11 p-0">
                <h5 class="card-title text-left">ESTADÍSTICAS EN TIEMPO REAL</h5>
              </div>
            </div>
            <p class="card-text text-left">El centro médico dispone, a través de Cita Médica, de diversas variables estadísticas necesarias para evaluar en forma objetiva su funcionamiento.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <div class="card text-center border-white mb-5 mr-5 ml-5">
          <div class="card-body">
            <div class="row">
              <div class="col-1 p-0">
                <i class="fas fa-dollar-sign text-info"></i>
              </div>
              <div class="col-11 p-0">
                <h5 class="card-title text-left">GESTIÓN DE INGRESO</h5>
              </div>
            </div>
            <p class="card-text text-left">El administrador y/o los profesionales controlan el flujo de caja en tiempo real.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <div class="card text-center border-white mb-5 mr-5 ml-5">
          <div class="card-body">
            <div class="row">
              <div class="col-1 p-0">
                <i class="fas fa-users text-info"></i>
              </div>
              <div class="col-11 p-0">
                <h5 class="card-title text-left">CUENTA CON NOSOTROS</h5>
              </div>
            </div>
            <p class="card-text text-left">En Cita Médica hemos hecho de la capacitación y del soporte uno de nuestros principales pilares.</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id ="caracteristicas">
    <div class="row bg-light pt-5">
      <div class="col-12 text-center">
        <h1 class="mb-5">Características de la plataforma</h1>
      </div>
      <div class="col-lg-6 col-12 text-center">
        <div class="card text-center border-white mb-5 mr-5 ml-5">
          <div class="card-body">
            <h3 class="card-title text-left m-2 pl-3">No requiere instalación</h3>
            <div class="row">
              <div class="col-1 text-right pr-2">
                <i class="fas fa-star text-info p-0 m-0 "></i>
              </div>
              <div class="col-11 p-0">
                <p class="card-subtitle text-left text-muted m-0 ">ni complementos adicionales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 text-center">
        <div class="card text-center border-white mb-5 mr-5 ml-5">
          <div class="card-body">
            <h3 class="card-title text-left m-2 pl-3">Asesoría personalizada</h3>
            <div class="row">
              <div class="col-1 text-right pr-2">
                <i class="fas fa-star text-info p-0 m-0 "></i>
              </div>
              <div class="col-11 p-0">
                <p class="card-subtitle text-left text-muted m-0">para nuevos usuarios</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 text-center">
        <div class="card text-center border-white mb-5 mr-5 ml-5">
          <div class="card-body">
            <h3 class="card-title text-left m-2 pl-3">Respaldo de información</h3>
            <div class="row">
              <div class="col-1 text-right pr-2">
                <i class="fas fa-star text-info p-0 m-0 "></i>
              </div>
              <div class="col-11 p-0">
                <p class="card-subtitle text-left text-muted m-0 ">ingresada a la plataforma</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 text-center">
        <div class="card text-center border-white mb-5 mr-5 ml-5">
          <div class="card-body">
            <h3 class="card-title text-left m-2 pl-3">Mejora continua</h3>
            <div class="row">
              <div class="col-1 text-right pr-2">
                <i class="fas fa-star text-info p-0 m-0 "></i>
              </div>
              <div class="col-11 p-0">
                <p class="card-subtitle text-left text-muted m-0 ">en la plataforma y sus funcionalidades</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="row bg-white pt-5">
      <div class="col-12 text-center">
        <h1 class="mb-5">Te Contactamos</h1>
      </div>
      <div class="col-12">
        <form>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationServer01">First name</label>
              <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationServer02">Last name</label>
              <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationServer03">City</label>
              <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
              <div id="validationServer03Feedback" class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationServer04">State</label>
              <select class="custom-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                <option selected disabled value="">Choose...</option>
                <option>...</option>
              </select>
              <div id="validationServer04Feedback" class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationServer05">Zip</label>
              <input type="text" class="form-control is-invalid" id="validationServer05" aria-describedby="validationServer05Feedback" required>
              <div id="validationServer05Feedback" class="invalid-feedback">
                Please provide a valid zip.
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
              <label class="form-check-label" for="invalidCheck3">
                Agree to terms and conditions
              </label>
              <div  id="invalidCheck3Feedback" class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
      </div>
    </div>
  </section>

</div>

  <!-- Footer -->
<footer class="page-footer font-small teal pt-1 bg-dark mt-3">
    <div class="footer-copyright text-center text-info py-3">
      © 2020 Copyright APPointment.com
    </div>
</footer>
  
  
  